.flex-order {
    display: flex;
    gap: 5rem;
}

.flex-order img {
    border-radius: 50%;
}

.flex-order:nth-child(even) p{
    border: 1px solid red;
    order: 1;
}

.flex-order:nth-child(even) img {
    order: 2;
}